a {
  color: black;
  text-decoration: none;
}

.container {
  min-width: 320px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}
