#kanban {
  display: flex;
  padding: 30px;
  width: 1250px;
  background: #ffffff94;
  border-radius: 5px;
  border: 1px solid #7e7e7e94;
}

#kanban * {
  font-family: sans-serif;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.kanban-container:not(:last-child) {
  margin-right: 30px;
}

.kanban-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  user-select: none;
}

.kanban-item-input {
  padding: 10px 15px;
  box-sizing: border-box;
  background: rgb(201, 201, 201);
  border-radius: 5px;
  cursor: pointer;
}

.kanban-dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban-dropzone--active {
  height: 40px;
  background: rgba(0, 0, 0, 0.25);
}

.kanban-add-item {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background: rgba(90, 90, 90, 0.712);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
