@font-face {
  font-family: "Makgeolli";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Makgeolli.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dimibang_new";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/dimibang_new.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  color: rgba(255, 191, 0);
}

.main-container {
  background-image: url(../img/restaurant-container.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "dimibang_new";
  font-size: 126px;
  font-weight: normal;
}

h3 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-title {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px;
  border: 0.5em solid rgb(255, 191, 0);
}

header {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  padding-left: min(160px, 10%);
  padding-right: min(160px, 10%);
}

.header-logo {
  width: 100%;
  max-width: 100px;
  min-width: 60px;
}

nav {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 16px;
  font-size: 24px;
  padding: 20px;
}

.nav-logo {
  width: 90px;
  height: 90px;
  padding: 1px;
  font-family: "GenKJwajinOTF-Rg";
  border: 0.1em solid rgb(255, 191, 0);
  font-size: 42px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: rgb(255, 191, 0);
}

.kf-container,
.menu-container {
  background-color: black;
  padding-left: min(160px, 10%);
  padding-right: min(160px, 10%);
}

.kf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-iframe {
  width: 600px;
  height: 450px;
  border: 0;
}
